.tags{
    display: flex;
}

/* --- tag --- */
.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 115px;
    background-color: #FF6060;
    border-radius: 10px;
    margin-right: 10px;
}

.tagTitle{
    font-size: 14px;
    color: white;
}

@media only screen and (max-width: 680px)
{
    .tag{
        height: 18px;
        width: 84px;
    }
    
    .tagTitle{
        font-size: 10px;
    }

}