/*  ---containerLocationProfile--- */
.containerLocationProfile{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #FF6060;
}

.containerLocation{
    
}

.locationName{
    font-size: 36px;
}

.location{
    font-size: 18px;
    margin-top: 10px;
}

/*  profile */
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}

.profileName{
    font-size: 18px;
}

.profilePicture{
    width: 64px;
    height: 64px;
    background-color: #C4C4C4;
    border-radius: 100%;
    margin-left: 10px;
}

/*  ---containerTagRaiting--- */
.containerTagRaiting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/*  ---CardsDescription--- */
.cardsDescription{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}