/*  ---containerInformation--- */
.containerInformation{
    display: flex;
    justify-content: space-between;
}

/*  ---containerLocationTag--- */
.containerLocationTag{
    display: flex;
    flex-direction: column;
    color: #FF6060;
    margin-top: 30px;
}
/*
.containerLocation{
    
}*/

.locationName{
    font-size: 36px;
}

.location{
    font-size: 18px;
    margin-top: 10px;
}

/*  profile */
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
}

.profileName{
    font-size: 18px;
    color: #FF6060;
}

.profilePicture{
    width: 64px;
    height: 64px;
    background-color: #C4C4C4;
    border-radius: 100%;
    margin-left: 10px;
}

/*  ---containerProfileRaiting--- */
.containerProfileRaiting{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

/*  ---CardsDescription--- */
.cardsDescription{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.cardsDescription > div{
    width: 45%;
}

@media only screen and (max-width: 680px)
{
    /*  ---containerInformation--- */
    .containerInformation{
        display: flex;
        flex-direction: column;
    }

    /*  ---containerLocationTag--- */
    .containerLocationTag{
        margin-top: 20px;
    }
    /*
    .containerLocation{
        
    }*/

    .locationName{
        font-size: 18px;
    }

    .location{
        font-size: 14px;
        margin-top: 8px;
    }

    /*  profile */
    .profileName{
        font-size: 12px;
    }

    .profilePicture{
        width: 32px;
        height: 32px;
    }

    /*  ---containerProfileRaiting--- */
    .containerProfileRaiting{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    /*  ---CardsDescription--- */
    .cardsDescription{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0px;
    }

    .cardsDescription > div{
        width: 100%;
        margin-top: 15px;
    }

}