@media only screen and (max-width: 680px)
{
    /* --- Header --- */
    .logo{
        width: 145px;
    }

    .navBar ul li a{
        font-size: 12px;
        color: #FF6060;
        margin-left: 10px;
    }

    /* --- Main --- */
    .banner{
        justify-content: flex-start;
        height: 111px;
    }
    
    .bannerTitle{
        margin-left: 16px;
        font-size: 24px;
    }

    .cards{
        padding:0%;
    }

    .card{
        height: 255px;
        margin:0;
        margin-top: 20px;
    }
    /* --- Error 404 --- */

    .sectionError{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .error404{
        font-size: 96px;
        margin-top: 195px;
    }
    
    .messageError{
        font-size: 11px;
        margin-top: 66px;
    }
    
    .errorBackHome{
        font-size: 14px;
        margin-top: 133px;
        margin-bottom: 169px;
    }

    /* --- Footer --- */

    /* !!! ne fonctionne pas (copyright) !!! */
    .copyright{
        font-size: 1px;
        margin-top: 28px;
        color: red;
    }


}