.cardsDescription{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* --- card --- */
.cardDescription{
    width: 582px;
}

.blocCardDescriptionTitle{
    background-color: #FF6060;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
}

.blocCardDescriptionTitle > img{
    margin-right: 12px;
}

.cardDescriptionTitle{
    font-size: 18px;
    color: white;
    margin-left: 20px;
}

.blocCardDescriptionTexte{
    position: absolute;
    top: 70%;
    z-index: -1;
    padding-top: 10px;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.cardDescriptionTexte{
    color: #FF6060;
    padding: 20px;
    font-size: 18px;
}