.ppImage{
    width: 64px;
    height: 64px;
    background-color: #C4C4C4;
    border-radius: 100%;
    margin-left: 10px;
    overflow: hidden;
}

.ppImage > img{
    height: 100%;
    background-color: rgb(255, 137, 137);
}

@media only screen and (max-width: 680px)
{
    .ppImage{
        width: 32px;
        height: 32px;
    }

}