.header {
	display: flex;
	justify-content:space-between;
	flex-direction: row;
	align-items: center;
}

@media only screen and (max-width: 680px)
{
    /* --- Header --- */
    .logo{
        width: 120px;
    }

    .navBar ul li a{
        font-size: 12px;
        margin-left: 10px;
    }
}