.Slider{
    position: relative;
    width: 100%;
    height: 415px;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 25px;
}  

.slider__img{
    height: 415px;
    width: 100%;
    object-fit: cover;
    background-color: #FF6060;
    border-radius: 25px;
    animation: fade 0.3s;
}

.slider__arrowLeft, .slider__arrowRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.slider__arrowLeft{
    left: 24px;
}

.slider__arrowRight{
    right: 24px;
}

.slide{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.active{
    z-index: 1;
}

.left{
    animation: fromLeft 1s;
    animation-fill-mode: forwards;
}

.right{
    animation: fromRight 1s;
    animation-fill-mode: forwards;
}

.compteur{
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(50%);
    color: white;
    z-index: 2;
}

@keyframes fromLeft{
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes fromRight{
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}
/*
@media only screen and (max-width: 680px)
{
    .Slider{
        height: 255px;
        width: 100%;
        border-radius: 10px;
        background-color: #FF6060;
    } 
    
    .slider__arrowLeft, .slider__arrowRight{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .slider__arrowLeft{
        left: 24px;
    }
    
    .slider__arrowRight{
        right: 24px;
    }

    .slider__arrowLeft > svg{
        width: 12px;
        height: 20px;
    }

    .slider__arrowRight > svg{
        width: 12px;
        height: 20px;
    }
    
    .compteur{
        display: none;
    }

}*/