.Slider{
    position: relative;
    width: 100%;
    margin-top: 25px;
}  

.slider__img{
    height: 415px;
    width: 100%;
    object-fit: cover;
    background-color: #FF6060;
    border-radius: 25px;
    animation: fade 0.8s;
}

.slider__arrowLeft, .slider__arrowRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider__arrowLeft{
    left: 24px;
}

.slider__arrowRight{
    right: 24px;
}

.compteur{
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(50%);
    color: white;
}

@keyframes fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*
@media only screen and (max-width: 680px)
{
    .Slider{
        height: 255px;
        width: 100%;
        border-radius: 10px;
        background-color: #FF6060;
    } 
    
    .slider__arrowLeft, .slider__arrowRight{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .slider__arrowLeft{
        left: 24px;
    }
    
    .slider__arrowRight{
        right: 24px;
    }

    .slider__arrowLeft > svg{
        width: 12px;
        height: 20px;
    }

    .slider__arrowRight > svg{
        width: 12px;
        height: 20px;
    }
    
    .compteur{
        display: none;
    }

}*/